

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/vendor/simple-line-icons.css">
  
    <link rel="stylesheet" href="/css/vendor/tooltipster.css">
    <link rel="stylesheet" href="/css/vendor/owl.carousel.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- favicon -->
    <link rel="icon" href="favicon.ico">
    <title>شرکت پرنیان افکار</title>
</head>
<body>
    <!-- HEADER -->
    <div class="header-wrap">
        <header>
            <!-- LOGO -->
            <a href="index.html">
                <figure class="logo">
                    <img src="images/logo.png" alt="logo">
                </figure>
            </a>
            <!-- /LOGO -->
            <!-- MOBILE MENU HANDLER -->
            <div class="mobile-menu-handler left primary">
                <img src="images/pull-icon.png" alt="pull-icon">
            </div>
            <!-- /MOBILE MENU HANDLER -->
            <!-- LOGO MOBILE -->
            <a href="index.html">
                <figure class="logo-mobile">
                    <img src="images/logo_mobile.png" alt="logo-mobile">
                </figure>
            </a>
            <!-- /LOGO MOBILE -->
            <!-- MOBILE ACCOUNT OPTIONS HANDLER -->
            <div class="mobile-account-options-handler right secondary">
                <span class="icon-user"></span>
            </div>
            <!-- /MOBILE ACCOUNT OPTIONS HANDLER -->
            <!-- USER BOARD -->
            <div class="user-board">
                <!-- USER QUICKVIEW -->
                <div class="user-quickview">
                    <!-- USER AVATAR -->
                    <a href="author-profile.html">
                        <div class="outer-ring">
                            <div class="inner-ring"></div>
                            <figure class="user-avatar">
                                <img src="images/avatars/avatar_01.jpg" alt="avatar">
                            </figure>
                        </div>
                    </a>
                    <!-- /USER AVATAR -->
                    <!-- USER INFORMATION -->
                    <p class="user-name">جانی فیشر</p>
                    <!-- SVG ARROW -->
                    <svg class="svg-arrow">
                        <use xlink:href="#svg-arrow"></use>
                    </svg>
                    <!-- /SVG ARROW -->
                    <p class="user-money">تومان745.00</p>
                    <!-- /USER INFORMATION -->
                    <!-- DROPDOWN -->
                    <ul class="dropdown small hover-effect closed">
                        <li class="dropdown-item">
                            <div class="dropdown-triangle"></div>
                            <a href="author-profile.html">صفحه پروفایل</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="dashboard-settings.html">تنظیمات حساب</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="dashboard-purchases.html">خریدهای شما</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="dashboard-statement.html">پیش پرداخت</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="dashboard-buycredits.html">اعتبار خرید</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="dashboard-withdrawals.html">برداشت</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="dashboard-uploaditem.html">آپلود</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="dashboard-manageitems.html">مدیریت</a>
                        </li>
                    </ul>
                    <!-- /DROPDOWN -->
                </div>
                <!-- /USER QUICKVIEW -->
                <!-- ACCOUNT INFORMATION -->
                <div class="account-information">
                    <a href="favourites.html">
                        <div class="account-wishlist-quickview">
                            <span class="icon-heart"></span>
                        </div>
                    </a>
                    <div class="account-cart-quickview">
                        <span class="icon-present">
                            <!-- SVG ARROW -->
                            <svg class="svg-arrow">
                                <use xlink:href="#svg-arrow"></use>
                            </svg>
                            <!-- /SVG ARROW -->
                        </span>

                        <!-- PIN -->
                        <span class="pin soft-edged secondary">7</span>
                        <!-- /PIN -->
                        <!-- DROPDOWN CART -->
                        <ul class="dropdown cart closed">
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <a href="item-v1.html" class="link-to"></a>
                                <!-- SVG PLUS -->
                                <svg class="svg-plus">
                                    <use xlink:href="#svg-plus"></use>
                                </svg>
                                <!-- /SVG PLUS -->
                                <div class="dropdown-triangle"></div>
                                <figure class="product-preview-image tiny">
                                    <img src="images/items/pixel_s.jpg" alt="">
                                </figure>
                                <p class="text-header tiny">فروشگاه بازی پیکسل الماس</p>
                                <p class="category tiny primary">سایت کودک</p>
                                <p class="price tiny"><span>تومان</span>86</p>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <a href="item-v1.html" class="link-to"></a>
                                <!-- SVG PLUS -->
                                <svg class="svg-plus">
                                    <use xlink:href="#svg-plus"></use>
                                </svg>
                                <!-- /SVG PLUS -->
                                <figure class="product-preview-image tiny">
                                    <img src="images/items/monsters_s.jpg" alt="">
                                </figure>
                                <p class="text-header tiny">هیولاهای کوچک - 40 بسته با نشان دکمه</p>
                                <p class="category tiny primary">طراحی</p>
                                <p class="price tiny"><span>تومان</span>10</p>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <a href="item-v1.html" class="link-to"></a>
                                <!-- SVG PLUS -->
                                <svg class="svg-plus">
                                    <use xlink:href="#svg-plus"></use>
                                </svg>
                                <!-- /SVG PLUS -->
                                <figure class="product-preview-image tiny">
                                    <img src="images/items/flat_s.jpg" alt="">
                                </figure>
                                <p class="text-header tiny">مسطح - تصویر قهرمان آهنگ ساز</p>
                                <p class="category tiny primary">سایت کودک</p>
                                <p class="price tiny"><span>تومان</span>12</p>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <p class="text-header tiny">جمع</p>
                                <p class="price"><span>تومان</span>108.00</p>
                                <a href="cart.html" class="button primary half">سبد خرید</a>
                                <a href="checkout.html" class="button secondary half">پرداخت</a>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                        </ul>
                        <!-- /DROPDOWN CART -->
                    </div>
                    <div class="account-email-quickview">
                        <span class="icon-envelope">
                            <!-- SVG ARROW -->
                            <svg class="svg-arrow">
                                <use xlink:href="#svg-arrow"></use>
                            </svg>
                            <!-- /SVG ARROW -->
                        </span>

                        <!-- PIN -->
                        <span class="pin soft-edged secondary">!</span>
                        <!-- /PIN -->
                        <!-- DROPDOWN NOTIFICATIONS -->
                        <ul class="dropdown notifications closed">
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <div class="dropdown-triangle"></div>
                                <a href="dashboard-openmessage.html" class="link-to"></a>
                                <figure class="user-avatar">
                                    <img src="images/avatars/avatar_06.jpg" alt="">
                                </figure>
                                <p class="text-header tiny"><span>سارا</span></p>
                                <p class="subject">سوال درباره محصولات</p>
                                <p class="timestamp">May 18th, 2014</p>
                                <span class="notification-type secondary-new icon-envelope"></span>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <a href="dashboard-openmessage.html" class="link-to"></a>
                                <figure class="user-avatar">
                                    <img src="images/avatars/avatar_04.jpg" alt="">
                                </figure>
                                <p class="text-header tiny"><span>گرافیک تندر سرخ</span></p>
                                <p class="subject">استعلام پشتیبانی</p>
                                <p class="timestamp">May 5th, 2014</p>
                                <span class="notification-type icon-envelope-open"></span>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <a href="dashboard-openmessage.html" class="link-to"></a>
                                <figure class="user-avatar">
                                    <img src="images/avatars/avatar_07.jpg" alt="">
                                </figure>
                                <p class="text-header tiny"><span>تم های پیچیده</span></p>
                                <p class="subject">همکاری</p>
                                <p class="timestamp">Feb 24th, 2014</p>
                                <span class="notification-type secondary-new icon-envelope"></span>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <a href="dashboard-openmessage.html" class="link-to"></a>
                                <figure class="user-avatar">
                                    <img src="images/avatars/avatar_08.jpg" alt="">
                                </figure>
                                <p class="text-header tiny"><span>قالب GregSpiegel1820  </span></p>
                                <p class="subject">چگونگی نصب قالب</p>
                                <p class="timestamp">Jan 3rd, 2014</p>
                                <span class="notification-type icon-action-undo"></span>
                                <a href="dashboard-inbox.html" class="button secondary">نمایش همه پیامها</a>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                        </ul>
                        <!-- /DROPDOWN NOTIFICATIONS -->
                    </div>
                    <div class="account-settings-quickview">
                        <span class="icon-settings">
                            <!-- SVG ARROW -->
                            <svg class="svg-arrow">
                                <use xlink:href="#svg-arrow"></use>
                            </svg>
                            <!-- /SVG ARROW -->
                        </span>

                        <!-- PIN -->
                        <span class="pin soft-edged primary">49</span>
                        <!-- /PIN -->
                        <!-- DROPDOWN NOTIFICATIONS -->
                        <ul class="dropdown notifications no-hover closed">
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <div class="dropdown-triangle"></div>
                                <a href="author-profile.html">
                                    <figure class="user-avatar">
                                        <img src="images/avatars/avatar_02.jpg" alt="">
                                    </figure>
                                </a>
                                <p class="title">
                                    <a href="author-profile.html"><span>مگان V.</span></a> اضافه
                                    <a href="item-v1.html"><span>فروشگاه بازی پیکسل الماس</span></a> برگزیده
                                </p>
                                <p class="timestamp">2 ساعت قبل</p>
                                <span class="notification-type primary-new icon-heart"></span>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <a href="author-profile.html">
                                    <figure class="user-avatar">
                                        <img src="images/avatars/avatar_03.jpg" alt="">
                                    </figure>
                                </a>
                                <p class="title">
                                    <a href="author-profile.html"><span>توماس کیت</span></a> نوشته توسط شما
                                    <a href="author-reputation.html"><span>شهرت نویسنده</span></a>
                                </p>
                                <p class="timestamp">17 ساعت قبل</p>
                                <span class="notification-type icon-star"></span>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <a href="author-profile.html">
                                    <figure class="user-avatar">
                                        <img src="images/avatars/avatar_04.jpg" alt="">
                                    </figure>
                                </a>
                                <p class="title">
                                    <a href="author-profile.html"><span>گرافیک تندر سرخ</span></a> پیشنهاد
                                    <a href="item-v1.html"><span>لایه های 3D - وب پیکر نما</span></a>
                                </p>
                                <p class="timestamp">8 روز قبل</p>
                                <span class="notification-type primary-new icon-bubble"></span>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                            <!-- DROPDOWN ITEM -->
                            <li class="dropdown-item">
                                <a href="author-profile.html">
                                    <figure class="user-avatar">
                                        <img src="images/avatars/avatar_05.jpg" alt="">
                                    </figure>
                                </a>
                                <p class="title">
                                    <a href="author-profile.html"><span>دا بیباپ</span></a> خریداری شده
                                    <a href="item-v1.html"><span>Miniverse - تصویر قهرمان آهنگ ساز</span></a>
                                </p>
                                <p class="timestamp">یک هفته قبل</p>
                                <span class="notification-type icon-tag"></span>
                                <a href="dashboard-notifications.html" class="button primary">نمایش همه اعلانها</a>
                            </li>
                            <!-- /DROPDOWN ITEM -->
                        </ul>
                        <!-- /DROPDOWN NOTIFICATIONS -->
                    </div>
                </div>
                <!-- /ACCOUNT INFORMATION -->
                <!-- ACCOUNT ACTIONS -->
                <div class="account-actions">
                    <a href="#" class="button primary">تبدیل شدن به یک فروشنده</a>
                    <a href="#" class="button secondary">خروج از سیستم</a>
                </div>
                <!-- /ACCOUNT ACTIONS -->
            </div>
            <!-- /USER BOARD -->
        </header>
    </div>
    <!-- /HEADER -->
    <!-- SIDE MENU -->
    <div id="mobile-menu" class="side-menu left closed">
        <!-- SVG PLUS -->
        <svg class="svg-plus">
            <use xlink:href="#svg-plus"></use>
        </svg>
        <!-- /SVG PLUS -->
        <!-- SIDE MENU HEADER -->
        <div class="side-menu-header">
            <figure class="logo small">
                <img src="images/logo.png" alt="logo">
            </figure>
        </div>
        <!-- /SIDE MENU HEADER -->
        <!-- SIDE MENU TITLE -->
        <p class="side-menu-title">لینک های اصلی</p>
        <!-- /SIDE MENU TITLE -->
        <!-- DROPDOWN -->
        <ul class="dropdown dark hover-effect interactive">
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="index.html">صفحه اصلی</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="how-to-shop.html">فروشگاه</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="products.html">محصولات</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="services.html">خدمات</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="shop-gridview-v1.html">محصولات آنلاین</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item interactive">
                <a href="#">
                    امکانات
                    <!-- SVG ARROW -->
                    <svg class="svg-arrow">
                        <use xlink:href="#svg-arrow"></use>
                    </svg>
                    <!-- /SVG ARROW -->
                </a>

                <!-- INNER DROPDOWN -->
                <ul class="inner-dropdown">
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <p>زمرد اژدها</p>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="index.html">صفحه اصلی V!</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="home-v2.html">صفحه اصلی V2</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="itemview-versions.html">نمایش آیتم ها</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="shop-gridview-v1.html">فروشگاه V1</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="shop-gridview-v2.html">فروشگاه V2</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="shop-listview-v1.html">فهرست مشخصات فروشگاه V1</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="shop-listview-v2.html">فهرست مشخصات فروشگاه V2</a>
                        <!-- PIN -->
                        <span class="pin soft-edged primary">جدید</span>
                        <!-- /PIN -->
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="author-profile.html">صفحه پروفایل</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="blog-v1.html">صفحه وبلاگ V1</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="blog-v2.html">صفحه وبلاگ V2</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="open-post.html">گسترش ارسال</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="forum.html">صفحه اول انجمن</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="subforum.html">تالار گفتگو</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="open-topic.html">موضوع باز</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="login-register.html">ورود و ثبت نام</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="menu-dropdowns.html">منوی آبشاری</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <p>صفحه محصولات</p>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="item-v1.html">نمونه کار V1</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="item-v2.html">نمونه کار V2</a>
                        <!-- PIN -->
                        <span class="pin soft-edged secondary">جدید</span>
                        <!-- /PIN -->
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="product-page.html">صفحه محصولات</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="auction-page.html">صفحه حراج</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="service-page.html">صفحه خدمات</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="favourites.html">نمایش محصولات برگزیده</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="favourites-listview.html">نمایش لیست محصولات برگزیده</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <p>داشبورد</p>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="dashboard-settings.html">تنظیمات حساب</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="dashboard-statistics.html">آمار صفحه</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="dashboard-statement.html">پیش پرداخت</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="dashboard-inbox.html">صفحه صندوق</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="dashboard-openmessage.html">پیام باز</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="dashboard-uploaditem.html">صفحه آپلود</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <p>گیمیفیکیشن</p>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="community-badges.html">نویسنده مدالها صفحه</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="badges.html">تمام مدالها (بزرگ و کوچک)</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="flag-badges.html">مدالها پرچم (بزرگ و کوچک)</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="badges-boxes.html">نمونه مدالهای جدید</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                    <!-- INNER DROPDOWN ITEM -->
                    <li class="inner-dropdown-item">
                        <a href="author-badges.html">مدالهای عمومی نویسنده</a>
                    </li>
                    <!-- /INNER DROPDOWN ITEM -->
                </ul>
                <!-- /INNER DROPDOWN -->
            </li>
            <!-- /DROPDOWN ITEM -->
        </ul>
        <!-- /DROPDOWN -->
    </div>
    <!-- /SIDE MENU -->
    <!-- SIDE MENU -->
    <div id="account-options-menu" class="side-menu right closed">
        <!-- SVG PLUS -->
        <svg class="svg-plus">
            <use xlink:href="#svg-plus"></use>
        </svg>
        <!-- /SVG PLUS -->
        <!-- SIDE MENU HEADER -->
        <div class="side-menu-header">
            <!-- USER QUICKVIEW -->
            <div class="user-quickview">
                <!-- USER AVATAR -->
                <a href="author-profile.html">
                    <div class="outer-ring">
                        <div class="inner-ring"></div>
                        <figure class="user-avatar">
                            <img src="images/avatars/avatar_01.jpg" alt="avatar">
                        </figure>
                    </div>
                </a>
                <!-- /USER AVATAR -->
                <!-- USER INFORMATION -->
                <p class="user-name">جانی فیشر</p>
                <p class="user-money">تومان745.00</p>
                <!-- /USER INFORMATION -->
            </div>
            <!-- /USER QUICKVIEW -->
        </div>
        <!-- /SIDE MENU HEADER -->
        <!-- SIDE MENU TITLE -->
        <p class="side-menu-title">حساب شما</p>
        <!-- /SIDE MENU TITLE -->
        <!-- DROPDOWN -->
        <ul class="dropdown dark hover-effect">
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="dashboard-notifications.html">خبر</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="dashboard-inbox.html">پیامها</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="cart.html">سبد خرید شما</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="favourites.html">علاقه مندیها</a>
            </li>
            <!-- /DROPDOWN ITEM -->
        </ul>
        <!-- /DROPDOWN -->
        <!-- SIDE MENU TITLE -->
        <p class="side-menu-title">داشبورد</p>
        <!-- /SIDE MENU TITLE -->
        <!-- DROPDOWN -->
        <ul class="dropdown dark hover-effect">
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="author-profile.html">صفحه پروفایل</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="dashboard-settings.html">تنظیمات حساب</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="dashboard-purchases.html">خریدهای شما</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="dashboard-statement.html">پیش پرداخت</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="dashboard-buycredits.html">اعتبار خرید</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="dashboard-withdrawals.html">برداشت</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="dashboard-uploaditem.html">آپلود</a>
            </li>
            <!-- /DROPDOWN ITEM -->
            <!-- DROPDOWN ITEM -->
            <li class="dropdown-item">
                <a href="dashboard-manageitems.html">مدیریت</a>
            </li>
            <!-- /DROPDOWN ITEM -->
        </ul>
        <!-- /DROPDOWN -->

        <a href="#" class="button medium secondary">خروج از سیستم</a>
        <a href="#" class="button medium primary">تبدیل شدن به یک فروشنده</a>
    </div>
    <!-- /SIDE MENU -->
    <!-- MAIN MENU -->
    <div class="main-menu-wrap">
        <div class="menu-bar">
            <nav>
                <ul class="main-menu">
                    <!-- MENU ITEM -->
                    <li class="menu-item">
                        <a href="index.html">صفحه اصلی</a>
                    </li>
                    <!-- /MENU ITEM -->
                    <!-- MENU ITEM -->
                    <li class="menu-item">
                        <a href="how-to-shop.html">فروشگاه</a>
                    </li>
                    <!-- /MENU ITEM -->
                    <!-- MENU ITEM -->
                    <li class="menu-item">
                        <a href="products.html">محصولات</a>
                    </li>
                    <!-- /MENU ITEM -->
                    <!-- MENU ITEM -->
                    <li class="menu-item">
                        <a href="services.html">خدمات</a>
                    </li>
                    <!-- /MENU ITEM -->
                    <!-- MENU ITEM -->
                    <li class="menu-item">
                        <a href="shop-gridview-v1.html">محصولات انلاین</a>
                    </li>
                    <!-- /MENU ITEM -->
                    <!-- MENU ITEM -->
                    <li class="menu-item sub">
                        <a href="#">
                            امکانات
                            <!-- SVG ARROW -->
                            <svg class="svg-arrow">
                                <use xlink:href="#svg-arrow"></use>
                            </svg>
                            <!-- /SVG ARROW -->
                        </a>
                        <div class="content-dropdown">
                            <!-- FEATURE LIST BLOCK -->
                            <div class="feature-list-block">
                                <h6 class="feature-list-title">زمرد اژدها</h6>
                                <hr class="line-separator">
                                <!-- FEATURE LIST -->
                                <ul class="feature-list">
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="index.html">صفحه اصلی V1</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="home-v2.html">صفحه اصلی V2</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="itemview-versions.html">نمایش آیتم ها</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="shop-gridview-v1.html">فروشگاه V1</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="shop-gridview-v2.html">فروشگاه V2</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="shop-listview-v1.html">فهرست مشخصات فروشگاه V1</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="shop-listview-v2.html">
                                            فهرست مشخصات فروشگاه V2
                                            <!-- PIN -->
                                            <span class="pin primary">جدید</span>
                                            <!-- /PIN -->
                                        </a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->

                                    <li class="feature-list-item">
                                        <a href="author-profile.html">صفحه پروفایل</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                </ul>
                                <!-- /FEATURE LIST -->
                                <!-- FEATURE LIST -->
                                <ul class="feature-list">
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="blog-v1.html">صفحه وبلاگ V1</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="blog-v2.html">صفحه وبلاگ V2</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="open-post.html">گسترش ارسال</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="forum.html">صفحه اول انجمن</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="subforum.html">تالار گفتگو</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="open-topic.html">موضوع باز</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="login-register.html">ورود و ثبت نام</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="menu-dropdowns.html">منوی آبشاری</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                </ul>
                                <!-- /FEATURE LIST -->
                            </div>
                            <!-- /FEATURE LIST BLOCK -->
                            <!-- FEATURE LIST BLOCK -->
                            <div class="feature-list-block">
                                <h6 class="feature-list-title">صفحه محصولات</h6>
                                <hr class="line-separator">
                                <!-- FEATURE LIST -->
                                <ul class="feature-list">
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="item-v1.html">نمونه کار V1</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="item-v2.html">
                                            نمونه کار V2
                                            <!-- PIN -->
                                            <span class="pin secondary">جدید</span>
                                            <!-- /PIN -->
                                        </a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="product-page.html">صفحه محصولات</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="auction-page.html">صفحه حراج</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="service-page.html">صفحه خدمات</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="favourites.html">نمایش محصولات برگزیده</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="favourites-listview.html">نمایش لیست محصولات برگزیده</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                </ul>
                                <!-- /FEATURE LIST -->
                            </div>
                            <!-- /FEATURE LIST BLOCK -->
                            <!-- FEATURE LIST BLOCK -->
                            <div class="feature-list-block">
                                <h6 class="feature-list-title">داشبورد</h6>
                                <hr class="line-separator">
                                <!-- FEATURE LIST -->
                                <ul class="feature-list">
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="dashboard-settings.html">تنظیمات حساب</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="dashboard-statistics.html">صفحه آمار</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="dashboard-statement.html">پیش پرداخت</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="dashboard-inbox.html">صفحه صندوق</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="dashboard-openmessage.html">پیام باز</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="dashboard-uploaditem.html">صفحه آپلود</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                </ul>
                                <!-- /FEATURE LIST -->
                            </div>
                            <!-- /FEATURE LIST BLOCK -->
                            <!-- FEATURE LIST BLOCK -->
                            <div class="feature-list-block">
                                <h6 class="feature-list-title">گیمیفیکیشن</h6>
                                <hr class="line-separator">
                                <!-- FEATURE LIST -->
                                <ul class="feature-list">
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="community-badges.html">نویسنده مدالها صفحه</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="badges.html">تمام مدالها (بزرگ و کوچک)</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="flag-badges.html">مدالها پرچم (بزرگ و کوچک)</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="badges-boxes.html">نمونه مدالهای جدید</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                    <!-- FEATURE LIST ITEM -->
                                    <li class="feature-list-item">
                                        <a href="author-badges.html">مدالهای عمومی نویسنده</a>
                                    </li>
                                    <!-- /FEATURE LIST ITEM -->
                                </ul>
                                <!-- /FEATURE LIST -->
                            </div>
                            <!-- /FEATURE LIST BLOCK -->
                        </div>
                    </li>
                    <!-- /MENU ITEM -->
                </ul>
            </nav>
            <form class="search-form">
                <input type="text" class="rounded" name="search" id="search_products" placeholder="جستجوی محصولات">
                <input type="image" src="images/search-icon.png" alt="search-icon">
            </form>
        </div>
    </div>
    <!-- /MAIN MENU -->
    <!-- BANNER -->
    <div class="banner-wrap">
        <section class="banner">
            <h5>خوش آمدید به </h5>
            <h1>بزرگترین <span>فروشگاه</span></h1>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ. و با استفاده از طراحان گرافیک است.</p>
            <img src="images/top_items.png" alt="banner-img">

            <!-- SEARCH WIDGET -->
            <div class="search-widget">
                <form class="search-widget-form">
                    <input type="text" name="category_name" placeholder="جستجوی محصولات و یا خدمات">
                    <label for="categories" class="select-block">
                        <select name="categories" id="categories">
                            <option value="0">تمام دسته بندیها</option>
                            <option value="1">قالبهای PSD</option>
                            <option value="2">نصاویر</option>
                            <option value="3">سایت کودک</option>
                            <option value="4">بسته ههای آیکن</option>
                            <option value="5">گرافیک</option>
                            <option value="6">آگهی</option>
                            <option value="7">پس زمینه ها</option>
                            <option value="8">شبکه اجتماعی</option>
                        </select>
                        <!-- SVG ARROW -->
                        <svg class="svg-arrow">
                            <use xlink:href="#svg-arrow"></use>
                        </svg>
                        <!-- /SVG ARROW -->
                    </label>
                    <button class="button medium dark">جستجو</button>
                </form>
            </div>
            <!-- /SEARCH WIDGET -->
        </section>
    </div>
    <!-- /BANNER -->
    <!-- SERVICES -->
  
    <!-- /SERVICES -->
    <!-- PROMO -->
  
    <!-- PRODUCT SIDESHOW -->

@RenderBody()


<!-- /SUBSCRIBE BANNER -->
    <!-- FOOTER -->
    <footer>
        <!-- FOOTER TOP -->
        <div id="footer-top-wrap">
            <div id="footer-top">
                <!-- COMPANY INFO -->
                <div class="company-info">
                    <figure class="logo small">
                        <img src="images/logo_small.png" alt="logo-small">
                    </figure>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ. و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                    <ul class="company-info-list">
                        <li class="company-info-item">
                            <span class="icon-present"></span>
                            <p><span>850.296</span> محصولات</p>
                        </li>
                        <li class="company-info-item">
                            <span class="icon-energy"></span>
                            <p><span>1.207.300</span> اعضاء</p>
                        </li>
                        <li class="company-info-item">
                            <span class="icon-user"></span>
                            <p><span>74.059</span> فروشندگان</p>
                        </li>
                    </ul>
                    <!-- SOCIAL LINKS -->
                    <ul class="social-links">
                        <li class="social-link fb">
                            <a href="#"></a>
                        </li>
                        <li class="social-link twt">
                            <a href="#"></a>
                        </li>
                        <li class="social-link db">
                            <a href="#"></a>
                        </li>
                        <li class="social-link rss">
                            <a href="#"></a>
                        </li>
                    </ul>
                    <!-- /SOCIAL LINKS -->
                </div>
                <!-- /COMPANY INFO -->
                <!-- LINK INFO -->
                <div class="link-info">
                    <p class="footer-title">ارتباط با ما</p>
                    <!-- LINK LIST -->
                    <ul class="link-list">
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">چگونه به ما بپیوندید</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">خرید و فروش</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="forum.html">زمرد انجمن</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="blog-v1.html">زمرد وبلاگ</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">محصولات رایگان</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">فرصت های شغلی</a>
                        </li>
                    </ul>
                    <!-- /LINK LIST -->
                </div>
                <!-- /LINK INFO -->
                <!-- LINK INFO -->
                <div class="link-info">
                    <p class="footer-title">لینک های کاربران</p>
                    <!-- LINK LIST -->
                    <ul class="link-list">
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">اشتراک در برنامه ها</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">آغاز یک فروشگاه</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">اعتبار خرید</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">برداشت</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">دنیای جلسات</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">چگونگی راه اندازی یک جراح</a>

                        </li>
                    </ul>
                    <!-- /LINK LIST -->
                </div>
                <!-- /LINK INFO -->
                <!-- LINK INFO -->
                <div class="link-info">
                    <p class="footer-title">راهنما و سوالات متداول</p>
                    <!-- LINK LIST -->
                    <ul class="link-list">
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">مرکز راهنمایی</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">سوالات متداول</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">شرایط و ضوابط</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">لایسنس  محصولات</a>
                        </li>
                        <li class="link-item">
                            <div class="bullet"></div>
                            <a href="#">امنیت اطلاعات</a>
                        </li>
                    </ul>
                    <!-- /LINK LIST -->
                </div>
                <!-- /LINK INFO -->
                <!-- TWITTER FEED -->
                <div class="twitter-feed">
                    <p class="footer-title">توییتر </p>
                    <!-- TWEETS -->
                    <ul class="tweets">
                        <p class="loading">در حال بارگذاری</p>
                    </ul>
                    <!-- /TWEETS -->
                </div>
                <!-- /TWITTER FEED -->
            </div>
        </div>
        <!-- /FOOTER TOP -->
        <!-- FOOTER BOTTOM -->
        <div id="footer-bottom-wrap">
            <div id="footer-bottom">
                <p> فارسی شده توسط <a href="http://www.rubinatech.ir">روبیناتک</a>
            </div>
        </div>
        <!-- /FOOTER BOTTOM -->
    </footer>
    <!-- /FOOTER -->

    <div class="shadow-film closed"></div>

    <!-- SVG ARROW -->
    <svg style="display: none;">
        <symbol id="svg-arrow" viewBox="0 0 3.923 6.64014" preserveAspectRatio="xMinYMin meet">
            <path d="M3.711,2.92L0.994,0.202c-0.215-0.213-0.562-0.213-0.776,0c-0.215,0.215-0.215,0.562,0,0.777l2.329,2.329
			L0.217,5.638c-0.215,0.215-0.214,0.562,0,0.776c0.214,0.214,0.562,0.215,0.776,0l2.717-2.718C3.925,3.482,3.925,3.135,3.711,2.92z" />
        </symbol>
    </svg>
    <!-- /SVG ARROW -->
    <!-- SVG STAR -->
    <svg style="display: none;">
        <symbol id="svg-star" viewBox="0 0 10 10" preserveAspectRatio="xMinYMin meet">
            <polygon points="4.994,0.249 6.538,3.376 9.99,3.878 7.492,6.313 8.082,9.751 4.994,8.129 1.907,9.751
	2.495,6.313 -0.002,3.878 3.45,3.376 " />
        </symbol>
    </svg>
    <!-- /SVG STAR -->
    <!-- SVG PLUS -->
    <svg style="display: none;">
        <symbol id="svg-plus" viewBox="0 0 13 13" preserveAspectRatio="xMinYMin meet">
            <rect x="5" width="3" height="13" />
            <rect y="5" width="13" height="3" />
        </symbol>
    </svg>
    <!-- /SVG PLUS -->
    <!-- jQuery -->
    <script src="/js/vendor/jquery-3.1.0.min.js"></script>
    <!-- Tooltipster -->
    <script src="/js/vendor/jquery.tooltipster.min.js"></script>
    <!-- Owl Carousel -->
    <script src="/js/vendor/owl.carousel.min.js"></script>
    <!-- Tweet -->
    <script src="/js/vendor/twitter/jquery.tweet.min.js"></script>
    <!-- Side Menu -->
    <script src="/js/side-menu.js"></script>
    <!-- Home -->
    <script src="/js/home.js"></script>
    <!-- Tooltip -->
    <script src="/js/tooltip.js"></script>
    <!-- User Quickview Dropdown -->
    <script src="/js/user-board.js"></script>
    <!-- Footer -->
    <script src="/js/footer.js"></script>
</body>
</html>